body {direction: rtl;}
.reportHeader {margin-right: 60px;}
.tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;width: 100%;text-align: center;}
.tg tr {}
.tg tr:last-child {border-top: black double 7px;}
.tg td {font-family:Arial, sans-serif;font-size:14px;padding:6px 20px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color: #000;color:#333;background-color:#fff;}
.tg th {font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:6px 20px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color: #000;color:#333;background-color: #9c9c9c;}
.tg .tg-h31u {font-family:Arial, Helvetica, sans-serif !important;vertical-align:top;}
.tg .tg-8fc1 {font-weight:bold;font-family:Arial, Helvetica, sans-serif !important;vertical-align:top;}
.tg .tg-c2s1 {font-family:Arial, Helvetica, sans-serif !important;color:#fe0000;vertical-align:top;}
